@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Add these styles to handle mobile scroll behavior */
html {
  scroll-padding-top: 60px; /* Adjust to match your navbar height */
}

@media (max-width: 768px) {
  html {
    scroll-behavior: auto !important; /* Force default scroll on mobile */
  }
  
  section[id] {
    scroll-margin-top: 60px;
  }
}
